# 编译输出
*.apk
*.ap_
*.aab
*.dex

# 所有构建目录
build/
*/build/
*/*/build/
app/build/
*/app/build/

# 自动生成的文件
gen/
out/

# 本地配置文件
local.properties
*.iml
.idea/
.gradle/
*.iws
*.ipr
*.ids

# 编辑器
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp

# 日志
*.log
/captures/
/debug/
